body {
    background-image: url('src/assets/wallpaperimg1.jpg');
    background-size: cover;
}

.logoBoxContainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    /* background-color: aqua; */
    height: 170px;
}

.sloganBox {
    display: flex;
    justify-content: center; /* Horizontally center */
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.buttonTopRight {
    position: absolute;
    top: 20px; /* Adjust top distance */
    right: 20px; /* Adjust right distance */
  }

.textBox {
    background-color: aqua;
    height: 400px;
    width: 40%
}

.videoBox {
    background-color: rgb(38, 66, 66);
    height: 400px;
    width: 60%;
    color:white
}