.logoBoxContainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    background-color: aqua;
    height: 170px;
}

.sessionNameInputBoxContainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    background-color: rgb(0, 104, 104);
    height: 60px;
}

.dragAndDropInputBoxContainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    background-color: rgb(146, 146, 146);
    height: 500px;
    width: 80%;

    /* Override Bootstrap styles */
    margin-left: auto;
    margin-right: auto;
}
.createSessionButtonContainer {
    display: flex;
    justify-content: center; /* Horizontally center */
    background-color: rgb(3, 32, 32);
    height: 80px;
    padding-top: 10px;
}

.createSessionButton { 
    height: 60px;
    width: 400px;
}